//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

-#- This Source Code Form is subject to the terms of the Mozilla Public
-#- License, v. 2.0. If a copy of the MPL was not distributed with this
-#- file, You can obtain one at http://mozilla.org/MPL/2.0/.

= render({:partial => "shared/errors", :object => @message_template})
= form_for([@message_template]) do |mt|
  = hidden_field_tag(:page, @page)
  %fieldset
    %legend= t(".legend")
    %ol
      %li
        = mt.label(:desc)
        = mt.text_field(:desc)
      %li
        = mt.label(:body)
        = mt.text_area(:body, {:size => "41x3", :maxlength => Sms::MESSAGE_TEMPLATE_BODY_MAX})
      %li
        .label= t(".character_count")
        %span#message_template_body_count
  %fieldset
    = link_to(t(".cancel"), message_templates_path, :class => "button")
    = mt.submit(t(".commit"), :data => {:disable_with => t(".commit_disable")})

:javascript
  function updateCount() {
    count = $('#message_template_body').val().length;
    countElement = $('#message_template_body_count');
    countElement.html(count);
    countElement.toggleClass('warning', count > #{Sms::MESSAGE_BODY_MAX});
  }

  $(function() {
    updateCount();
    $('#message_template_body').keyup(updateCount);
  });
