= content_tag_for(:li, message_template, :class => "item") do
  - if message_template.type == :User
    .sidebar
      = link_to( |
          t(".destroy_link"), |
          message_template_path(message_template), |
          {:method => :delete, :confirm => t(".destroy_confirm"), :disable_with => t(".destroy_disable"), :class => "button"})

  .body
    %h3= link_to( |
      "#{message_template.desc} - #{message_template.type}", |
      edit_message_template_path(message_template))
