= content_tag_for(:tr, message_template, :class => "item") do
  %td= message_template.type

  %td
    = link_to( |
      message_template.desc, |
      edit_message_template_path(message_template))

  %td= truncate(message_template.body, :length => 40)

  %td= l(message_template.updated_at)

  %td
    - if message_template.type == :User
      = link_to( |
          t(".destroy_link"), |
          message_template_path(message_template), |
          {:method => :delete, :confirm => t(".destroy_confirm"), :data => {:disable_with => t(".destroy_disable")}, :class => "button"})
