= content_tag_for(:tr, message_template, :class => "item") do
  %td= message_template.desc

  %td= truncate(message_template.body, :length => 40)

  %td= l(message_template.updated_at)

  %td
    = link_to( |
        t(".edit_link"), |
        edit_message_template_path(message_template), |
        :class => "button")

    - if not message_template.system
      = link_to( |
          t(".destroy_link"), |
          message_template_path(message_template), |
          {:method => :delete, :data => {:confirm => t(".destroy_confirm"), :disable_with => t(".destroy_disable")}, :class => "button"})
