%table
  %tr
    %th= t(".type")
    %th= t(".desc")
    %th= t(".body")
    %th= t(".updated_at")
    %th= t(".actions")
  = render(:collection => @message_templates, :partial => "row", :as => :message_template)
