-#- This Source Code Form is subject to the terms of the Mozilla Public
-#- License, v. 2.0. If a copy of the MPL was not distributed with this
-#- file, You can obtain one at http://mozilla.org/MPL/2.0/.

%table
  %tr
    = sorted_table_header_tag("", :desc) do
      = t(".desc")

    = sorted_table_header_tag("", :body) do
      = t(".body")

    = sorted_table_header_tag("", :updated_at) do
      = t(".updated_at")

    = table_header_tag(t(".actions"))

  = render(:collection => @message_templates, :partial => "row", :as => :message_template)
