= render("form")

%fieldset
  %legend= t(".legend")
  %ol
    %li
      %span.label= t(".created_at")
      - if !@message_template.created_at.nil?
        = l(@message_template.created_at)
    %li
      %span.label= t(".updated_at")
      - if !@message_template.updated_at.nil?
        = l(@message_template.updated_at)
