//- This Source Code Form is subject to the terms of the Mozilla Public
//- License, v. 2.0. If a copy of the MPL was not distributed with this
//- file, You can obtain one at http://mozilla.org/MPL/2.0/.

-#- This Source Code Form is subject to the terms of the Mozilla Public
-#- License, v. 2.0. If a copy of the MPL was not distributed with this
-#- file, You can obtain one at http://mozilla.org/MPL/2.0/.

= render("form")

%fieldset
  %legend= t(".legend")
  %ol
    %li
      %span.label= t(".created_at")
      - if !@message_template.created_at.nil?
        = l(@message_template.created_at)
    %li
      %span.label= t(".updated_at")
      - if !@message_template.updated_at.nil?
        = l(@message_template.updated_at)
